<div class="section content-top-spacer">
  <div class="card-panel">
    <div class="row no-bottom-margin flex-wrap flex-valign">

      <div class="col s12 l6">
        <%= render "edit_registration_avatar" %>
      </div>

      <div class="col s12 l6">
        <div class="user-attrs">
          <h4>Account Details</h4>
          <div class="row no-bottom-margin">
            <%= render "edit_registration_form" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      var userInputs = $('input').not(function() { return _.includes($(this).attr('id'), 'current') });
      var orignalAvatar = $("#user-full-avatar").attr("src");
      var initialValues = $(userInputs).map(function() { return $(this).val() }).toArray();

      $('input:file').on("change", function(e) {
        $('#user-full-avatar').attr("src", URL.createObjectURL(event.target.files[0]));
      });

      $("input").on("change", function(e) {
        var changedValues = userInputs.map(function() { return $(this).val() }).toArray();
        var equalValues = !_.isEqual(initialValues, changedValues);
        $("#edit-register-submit").toggleClass('active-submit', equalValues);
      });

      $('#reset-form').on("click", function(e) {
        $("form").trigger('reset');
        $('#edit-register-submit').removeClass('active-submit');
        $("#user-full-avatar").attr("src", orignalAvatar);
      })

    });
  </script>
<% end %>
