<div class="row">
  <div class="col s12">

    <div class="section">
      <h3>My Account</h3>
    </div>

    <div class="section">

      <div class="card">
        <div class="card-content">

          <div class="row no-bottom-margin valign">

            <div class="col s12 l6">
              <%= render "edit_registration_avatar" %>
            </div>

            <div class="col s12 l6">
              <%= render "edit_registration_form" %>
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var submitButton = $("#edit-register-submit");
      var userInputs = $('input').filter(function() {
        return $(this).attr('id') != 'user_current_password'
      });

      var initialValues = $(userInputs).map(function() { return $(this).val(); }).toArray();

      $("input").on("change", function(e) {
        var changedValues = userInputs.map(function() { return $(this).val() }).toArray();
        var equalValues = !_.isEqual(initialValues, changedValues)
        $(submitButton).toggleClass('active-submit', equalValues)
      });

    });
  </script>
<% end %>
