<div class="section content-top-spacer center">
  <h4>Sign Up</h4>
</div>

<div class="section flex-center">
  <div class="card-panel devise-form">

    <div class="row">
      <div class="col s12">
        <%= render "new_registration_form" %>
      </div>
    </div>

    <div class="row">
      <div class=" col s12">
        <%= link_to 'Have an account? Sign in', new_user_session_path, base_flat_button %>

        <div class="divider"></div>

        <%= link_to 'Resend confirmation email', new_user_confirmation_path, base_flat_button %>
      </div>
    </div>

  </div>
</div>
