<!-- Dropdown Structure -->
<ul id="admin-dropdown" class="dropdown-content">
  <li><%= link_to 'Dashboard', administration_dashboard_path %></li>
  <%= superadmin_invite(current_admin) %>
</ul>

<li><a class="dropdown-button" href="#!" data-activates="admin-dropdown">Admin</a></li>
