<% if current_superadmin(current_any_scope) %>
  <ul id="admin-dropdown" class="dropdown-content">
    <li><%= link_to 'Dashboard', administration_dashboard_path %></li>
    <li><%= link_to 'Manage Admins', administration_admins_path %></li>
  </ul>

  <li>
    <a
      class="dropdown-button"
      data-constrainWidth='false'
      data-belowOrigin='true'
      href="#!"
      data-activates="admin-dropdown"
    >
      Admin
    </a>
  </li>
<% else %>
  <li><%= link_to 'Admin', administration_dashboard_path %></li>
<% end %>
