<div class="section content-top-spacer center">
  <%= render_user_avatar(@admin, :medium) %>
  <h4><%= @admin.name %></h4>

  <% if current_admin && policy([:administration, @admin]).edit? %>
    <%= link_to "Edit Profile", edit_administration_admin_path(@admin) %>
  <% end %>
</div>
