<div class="section">
  <div class="comment-section">
    <div class="comments-header">
      <h5>Comments</h5>
      <%= new_comment_link(current_any_scope, @post) %>
    </div>
    <% if @post.comments.any? %>
      <div class="comments-wrapper">
        <%= render partial: "comments/comment", collection: paged_collection(@post.comments, @post.comments_per_page) %>
        <%= will_paginate @paged, paged_comment_options(@post) %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $(document).on('click', '#cancel-comment', function(ev) {
        $('#comment-form-row').remove();
      });

      $(document).on('click', '#new-comment-link', function(ev) {
        $('html, body').animate({ scrollTop: $(document).height() }, 1000);
      });

      $(document).on('click', '.edit-comment-link', function(ev) {
        $('html, body').animate({ scrollTop: $(document).height() }, 1000);
      });

      $(document).on('change', '.flag-comment', function(ev) {
        $(this).submit();
      });

    });
  </script>
<% end %>
