<% unless @post.comments.empty? %>
  <div class="comment-section">
    <div class="comments-wrapper">
      <%= render partial: "comments/comment", collection: paged_collection(@post.comments, @post.per_page) %>
    </div>
    <%= will_paginate @paged, paged_comment_options(@post) %>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $(document).on('click', '#cancel-comment', function(ev) {
        $('#comment-form-row').remove();
      });

      $(document).on('click', '#new-comment-link', function(ev) {
        $('html, body').animate({ scrollTop: $(document).height() }, 1000);
      });

      $(document).on('click', '.edit-comment-link', function(ev) {
        $('html, body').animate({ scrollTop: $(document).height() }, 1000);
      });

      $(document).on('click', '.delete-comment-link', function(ev) {
        ev.preventDefault();

        $('#delete-comment-modal-link').attr('href', $(this).attr('href'))
      })

      $(document).on('change', '.flag-comment', function(ev) {
        $(this).submit();
      })

    });
  </script>
<% end %>
