<div class="section content-top-spacer">
  <div class="card-panel">
    <div class="inbox-header">
      <h3>Inbox</h3>
    </div>
    <div class="conversations-wrapper">
        <%= render(@conversations) || "No messages found!" %>
      </div>
    </div>
  </div>
</div>
