<div class="section content-top-spacer">
  <div class="row">
    <div class="col s12">
      <h4>Create an Invite</h4>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12">
      <%= render 'form' %>
    </div>
  </div>
</div>
