<div class="section">
  <div class="row">
    <div class="col s12">
      <h4>New Admin Creation</h4>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12">
      <%= render 'admin_sign_up_form' %>
    </div>
  </div>
</div>
