<div class="section">
  <div class="row">
    <div class="col s12">

      <%= render 'login_header' %>

    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12">

      <div class="card devise-form-auth-register">
        <div class="card-content">

          <%= render "form" %>

          <%= render "login_notices" %>

          <%= sessions_sign_up_link(resource_name) %>

        </div>
      </div>

    </div>
  </div>
</div>
