<div class="row no-bottom-margin flex-valign">

  <div class="col s12 l6 post-index-controls">
    <%= form_tag("/", method: "get") do %>
      <div class="input-field col s12">
        <%= select_tag(:date_scope, options_for_select(post_date_filters, params[:date_scope]), id: 'post-filter-select') %>
      </div>

      <%= hidden_field_tag :post_search, params[:post_search] %>
    <% end %>
  </div>

  <div class="col s12 l6">
    <%= posts_inactive_or_new_link(current_any_scope) %>
  </div>

</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $(document).on('change', '#post-filter-select', function(ev) {
        $(this).closest('form').submit();
      });

    });
  </script>
<% end %>
