<div class="row no-bottom-margin">
  <div class="col s12">
    <div class="card">
      <div class="card-content">

        <div class="row no-bottom-margin flex-center">

          <div class="col l2 s4">
            <div class="post-avatar center-align">
              <%= render_user_avatar(post.postable, :thumb) %>
            </div>
          </div>

          <div class="col l8 s4">
            <div class="post-info">
              <h5><%= link_to post.title, polymorphic_path([post.postable, post]) %></h5>
              <p>By <%= link_to post.postable.email, polymorphic_path(post.postable) %></p>
              <p><%= post.created_at %></p>
            </div>
          </div>

          <div class="col l2 s4">
            <div class="post-score center-align">
              <h4>44</h4>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
