<div class="col s4 l2">
  <div class="show-post-avatar center">
    <%= render_user_avatar(@post.postable, :thumb) %>
  </div>
</div>

<div class="col s4 l8">
  <div class="show-post-info">
    <h5><%= @post.title %></h5>
    <p>By <%= @post.postable.email %><p>
    <p>Posted <%= @post.created_at %></p>
  </div>
</div>

<div class="col s4 l2">
  <div class="show-post-score center-align">
    <h5>Score: 33</h5>
  </div>
</div>
