<div class="col s12 m3 l2">
  <div class="show-post-avatar flex-valign-center">
    <%= image_tag @post.postable.avatar.url(:thumb), class: "resp-image" %>
  </div>
</div>

<div class="col s12 m6 l8">
  <div class="show-post-info">
    <h4><%= @post.title %></h4>
    <h6>By <%= @post.postable.email %><h6>
    <h6>Posted <%= @post.created_at.strftime("%B %d, %Y") %></h6>
  </div>
</div>

<div class="col s12 m3 l2">
  <div class="show-post-score center-align">
    <h5>Score: 33</h5>
  </div>
</div>
