<div class="show-post-text">
  <%= render_markdown(@post.post_content) %>
</div>

<% if current_any_scope && policy(@post).edit? %>
  <div class="show-post-controls">
    <%= render "show_delete_modal" %>
    <%= link_to "Edit", edit_polymorphic_path([@post.postable, @post]), class: base_button, id: "edit-post-#{@post.id}" %>
  </div>
<% end %>
