<div class="col s2">
  <div class="show-post-avatar">
    <%= render_user_avatar(@post.postable, :thumb) %>
  </div>
</div>

<div class="col s8">
  <div class="show-post-info">
    <h4><%= @post.title %></h4>
    <h5>By <%= @post.postable.email %><h5>
    <h5>Posted <%= @post.created_at %></h5>
  </div>
</div>

<div class="col s2">
  <div class="show-post-score center-align">
    <h5>Score: 33</h5>
  </div>
</div>
