<div class="section content-top-spacer">
  <h4>Edit Post</h4>
</div>

<div class="section">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
