<div class="section">
  <div class="section-header-bar">
    <h4>Active Posts</h4>
    <%= posts_inactive_or_new_link(current_any_scope) %>
  </div>
</div>

<div class="section">
  <div class="post-index-wrapper">
    <%= render(@posts) || "There are no posts available!" %>
    <%= paginate @posts, paged_post_options %>
  </div>
</div>

<%= render 'shared/loading_spinner' %>
