<div class="section post-index-bar">
  <%= render "index_post_header" %>
</div>

<div class="section">
  <div class="post-index-wrapper">
    <%= render(paged_collection(@posts, 25)) || "There are no posts available!" %>
    <%= will_paginate @paged, paged_post_options %>
  </div>
</div>
