<div class="section">
  <div class="section-header-bar">
    <h4>Active Posts</h4>
    <%= posts_inactive_or_new_link(current_any_scope) %>
  </div>
</div>

<div class="section">
  <div class="post-index-wrapper">
    <%= render(paged_collection(@posts, 25)) || "There are no posts available!" %>
    <%= will_paginate @paged, paged_post_options %>
  </div>
</div>

<%= render 'shared/loading_spinner' %>
