<div class="card-panel content-top-spacer">

  <div class="section">
    <div class="row no-bottom-margin flex-valign">
      <%= render "show_title_area" %>
    </div>
  </div>

  <div class="divider"></div>

  <div class="section">
    <div class="row no-bottom-margin">
      <div class="col s12">
        <%= render "show_post_content" %>
      </div>
    </div>
  </div>

</div>
