<% if current_superadmin(current_any_scope) %>

  <ul id="admin-dropdown" class="dropdown-content">
    <li><%= link_to 'Invitations', superadmins_invitations_path %></li>
    <li><%= link_to 'Manage Admins', administration_admins_path %></li>
  </ul>

  <a
    class="dropdown-button btn"
    data-constrainWidth='false'
    data-belowOrigin='true'
    data-activates="admin-dropdown"
  >
    Options
  </a>

<% end %>
