<div class="row no-bottom-margin">
  <div class="input-field col s12">
    <div class="admin-search-form">
      <%= form_tag(administration_dashboard_path, method: "get", id: "#{search_type}-form") do %>
        <%= text_field_tag search_type, params[search_type], placeholder: "Search" %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      var sendQuery = function() {
        $.get(this.action, $(this).serialize(), null, 'script');
        return false;
      };

      $('#<%= search_type %>-form').on('keyup', _.debounce(sendQuery, 300))

    });
  </script>
<% end %>
