<table class="highlight centered">

  <thead>
    <tr>
      <% build_header(post_table_header) %>
    </tr>
  </thead>

  <tbody>
    <% if @posts.length != 0 %>
      <% @posts.each do |post| %>
        <tr class="admin-table-row" id=<%= polymorphic_path([post.postable, post]) %>>
          <% build_row(post, post_table_attrs) %>
          <td><%= post.postable.email %></td>
        </tr>
      <% end %>
    <% else %>
      <%= render 'shared/table_no_records' %>
    <% end %>
  </tbody>

</table>
