<div class="row no-bottom-margin">
  <div class="col s12">
    <%= render 'shared/admin_search',
                search_type: 'post_search',
                path: administration_dashboard_path %>
  </div>
</div>

<div id="posts">
  <%= render 'admin_posts_table' %>
</div>
