<div class="row no-bottom-margin">
  <div class="col s12">
    <%= render 'shared/admin_search',
                search_type: 'user_search',
                path: administration_dashboard_path %>
  </div>
</div>

<div id="users">
  <%= render 'admin_users_table' %>
</div>
