.flash-container {
  position: fixed;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.flash-wrap {
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
}

.success {
  background-color: #81c784;
}

.alert {
  background-color: #911;
}

.notice {
  background-color: #00ccff;
}
