.flash-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
}

.success {
  background-color: #81c784;
}

.angry {

}

.notice {
  background-color: #00ccff;
}
