// Post index

.search-sort {
  background: #f2f2f2;
  padding: 10px 0px;
  margin-bottom: 20px;

  .input-field {
    margin-top: 0px;
  }

  input {
    margin-bottom: 0px !important;
    border: 0;
    background-color: #fff;
  }

}

.post-index-wrapper {

  .card-panel {
    padding: 12px;
  }

}

.post-info {

  h5, p {
    margin: 0;
  }

}

// Post show page
.post-show-wrapper {

  .card-panel {
    margin: 0;
  }

  .row:last-child {
    margin-bottom: 0;
  }

}

.show-post-text {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 10px 20px;


  ul {
    padding-left: 40px;

    li {
      list-style: square !important
    }

  }

  blockquote {
    background-color: #ccc;

    p {
      padding: 10px;
    }

  }

  p {
    font-size: 1rem;
  }

  pre {
    background-color: #c0c0c0;
    border-left: 5px solid #00ccff;
    padding: 10px 0px 10px 34px;
  }

}

.post-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  p {
    font-size: 20px;
    margin: .5rem 0rem;
  }

}

.show-post-controls {
  text-align: right;
}

#show-post-delete {

  .modal-content {
    text-align: center;
  }

  h4 {
    margin: 0;
  }

}

// New and Edit post page

.post-textarea {
  background: #f2f2f2 !important;
  border: 1px solid #ccc !important;
  box-sizing: border-box !important;
  padding: 10px !important;
  overflow-y: scroll !important;
  min-height: 8rem !important;
}

.textarea-label {
  font-size: 1rem;
}

.markdown-toolbar {
  display: flex;

  svg {
    background-color: gainsboro;
    border: 1px solid #c0c0c0;
    cursor: pointer;
  }

}

.toolbar-text {
  margin-left: 10px;
}

.toolbar-web {
  margin-left: 10px;
}

@media only screen and (min-width: 600px) {

  .markdown-toolbar {
    float: right;
  }

}

@media only screen and (max-width: 600px) {

  .post-score {
    flex-direction: row;
    margin-top: 20px;
  }

  .post-info {

    h5 {
      font-size: 1.4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

}
