<div class="row">
  <div class="col s12">

    <div class="section content-top-spacer">
      <div class="center">
        <%= image_tag @admin.avatar.url(:medium) %>
        <h4>Edit Profile</h4>
      </div>
    </div>

    <div class="section">
      <div class="card-panel">
        <%= render 'form' %>
      </div>
    </div>

  </div>
</div>
