<div class="section content-top-spacer center">
  <%= image_tag @admin.avatar.url(:medium) %>
  <h4>Edit Profile</h4>
</div>

<div class="section">
  <div class="card-panel">
    <div class="row no-bottom-margin">
      <div class="col s12">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
