<div class="section content-top-spacer">
  <div class="section-header-bar">
    <h4>Admin List</h4>
    <%= link_to 'Invites', superadmins_invitations_path, base_button %>
  </div>
</div>

<div class="section">
  <div class="card-panel">
    <%= render 'administration/admin_search', search_type: 'admin_search', path: administration_admins_path %>
    <div id="admins">
      <%= render 'admin_table' %>
    </div>
  </div>
</div>
