<table class="highlight centered">
  <thead>
    <tr>
      <% build_header(invitation_attrs) %>
    </tr>
  </thead>
  <tbody>
    <% if @invitations.length != 0 %>
      <% @invitations.each do |item| %>
        <tr>
          <% build_row(item, invitation_attrs) %>
        </tr>
      <% end %>
    <% else %>
      <%= render 'shared/table_no_records' %>
    <% end %>
  </tbody>
</table>
