<div class="section">
  <div class="row">
    <div class="col s12">

      <h2>Invitations</h2>

    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12">

      <%= render 'invitations_table' %>

    </div>
  </div>
</div>
