<% flash.each do |key, value| %>
  <div class="flash-container">
    <div class="flash-wrap <%= key %>">
      <%= value %>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.flash-container').animate(
        { bottom: '+=100px' },
        500
      ).on('click', function() {
        $(this).fadeOut()
      });
    });
  </script>
<% end %>
