<% flash.each do |key, value| %>
  <div class="flash-container">
    <div class="alert <%= key %>">
      <%= value %>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.flash-container').animate({bottom: "40px"}, 500).delay(4000).fadeOut();
    });
  </script>
<% end %>
