<nav>
  <div class="container">
    <div class="nav-wrapper">

      <a href="/" class="brand-logo">The Doge Blog</a>
      <a href="#" data-activates="mobile-links" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <%= render 'layouts/navlinks' %>
      </ul>

      <ul class="side-nav" id="mobile-links">
        <%= render 'layouts/navlinks' %>
      </ul>

    </div>
  </div>
</nav>

<% if current_page?(root_path) %>
  <%= render 'posts/main_post_search' %>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".button-collapse").sideNav();
    });
  </script>
<% end %>
